<!DOCTYPE html>
<html>
	<head>
		<title>**PCI INVENTORY SCOPE **</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="/stylesheets/index.css"> -->
		<style type="text/css">
			.divs {
				padding-right: 15px;
			  	padding-left: 15px;
				width: 360px;
				margin: 100px auto;	
			}
		</style>
	</head>
	<body>